@model Practica_Mvc_Monografico.Models.Profesor

@{
	string t = "Borrar Profesor";
	ViewData["Title"] = t;
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@t</h1>

<div>
	<div class="box box-primary collapsed-box">
		<div class="box-header">
			<h4>Profesor</h4>
			<hr />
			<dl class="row">
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.IDProfesor)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.IDProfesor)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Codigo)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Codigo)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Cedula)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Cedula)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.FechaNacimiento)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.FechaNacimiento)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.FechaIngreso)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.FechaIngreso)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Nombre)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Nombre)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Apellido)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Apellido)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Sexo)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Sexo)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.EstadoCivil)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.EstadoCivil)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Ocupacion)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Ocupacion)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.TipoDeSangre)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.TipoDeSangre)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Nacionalidad)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Nacionalidad)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Religion)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Religion)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Telefono)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Telefono)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Email)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Email)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Direccion)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Direccion)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Tipocolegio)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Tipocolegio)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Carrera)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Carrera)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.GradoAcademico)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.GradoAcademico)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.CategoriaPorfersional)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.CategoriaPorfersional)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Facultad)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Facultad)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Asignaturas)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Asignaturas)
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayNameFor(model => model.Observaciones)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.Observaciones)
				</dd>
			</dl>
		</div>
		<div>
			@Html.ActionLink("Editar", "Edit", new { id = Model.IDProfesor }) |
			<a asp-action="Index">Back to List</a>
		</div>
		</div>
</div>